.contentHeader{
  background-color: white;
  margin-top: 0.5px;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contentHeader h2{
  font-size: 25px;
  padding-left: 2%;
  color: #CF5C3F;

}

.contentHeader footer
  float: left;
  padding-left: 2%;
}



.maincontent{
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  overflow: hidden;
}

.first_content{
  width: 100%;
  line-height: 25px;
  float: left;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;S
  margin: 20px;
  margin-bottom: 20px;
}

.first_content h2 {
  padding-left: 2%;
  padding-top:  1%;
}

.first_content img{
  float: left;
  padding: 2%  2%  ;
  width: 200px;
  height: 200px;
}

.first_content p{
  text-align: justify;
  padding: 2% 2%;
  margin: 1% 1%;
}

.content1 p {
  padding-bottom: 20px;
}

.first_content button{
  margin: 2%;
  padding: 5px 20px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;S
}
