body{

  background-image: url('file:///C:/Users/Martin/Desktop/IWD%20Assignment%20Part%20B/images/nice.png');
  color: #000305;
  font-size: 87.5%;
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color: #CF5C3F


}

a:hover, a:active{
  background-color: #CF5C3F;
  color: white;


}

.body{
  margin: 0 auto;
  width: 75%;
  clear: both;
}

.mainheader img{
  width: 100%;
  height: 280px;
  margin: 1% 0;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-radius: 5px;
}

.mainheader nav{
  background-color: #666;
  height: 45px;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-radius: 5px;
  margin-bottom: 2%;
  padding: 0.5% 0%;
}

.mainheader nav ul{
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li{
  float: left;
  display: inline;
  padding: 0% 1.3%;
}

.mainheader nav ul li a{
  font-family: Nosifer;
}

.mainheader nav a:link, .mainheader nav a:visited{
  color: #FFF;
  display: inline-block;
  padding: 17px 25px;
  height: 10px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, mainheader nav a.active a:visited{
  background-color: #CF5C3F;
  color: #FFF;
  text-shadow: none;
}

.mainheader  nav ul li a{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
}

.maincontent{
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  overflow: hidden;
}

.content{
  width: 70%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  overflow: hidden;
  margin-right: 1%;
  text-align: justify;
}

.topcontent{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  overflow: hidden;
  background-color: white;
  padding: 3% 5%;
  margin: 1% 2% 2% 0%;
}

.topcontent img{
  width: 300px;
  height: 300px;
  float: right;
  padding: 0% 25% 0% 0%;

}

.bottomcontent{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-radius: 5px;
  overflow: hidden;
  background-color: white;
  padding: 3% 5%;
  margin: 1% 2% 2% 0%;
}

.bottomcontent content video {
  float: left;
  align-content: center;
  padding: 0% 6%;




}

.top-sidebar{
  width: 27%;
  float: right;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin=left: 5%;
  margin-top: 0.8%;
  padding: 0% 1% 0% 1%;
  text-align: justify;

}


.middle-sidebar{
  width: 27%;
  float: right;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin=left: 5%;
  margin-top: 1%;
  padding: 0% 1% 0% 1%;
  text-align: justify;

}


.middle2-sidebar{
  width: 27%;
  float: right;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin=left: 5%;
  margin-top: 1%;
  padding: 0% 1% 0% 1%;
  text-align: justify;

}

.post-info{
  font-style: italic;
  color: grey;
  font-size: 95%;
}




.top-sidebar article img{
  margin: 0 auto;
  width: 50%;
  height: 50%;
  padding: 0% 25%;

}


.middle-sidebar article img{
  margin: 0 auto;
  width: 55%;
  height: 50%;
  padding: 0% 25%;

}

.middle2-sidebar article img{
  margin: 0 auto;
  width: 55%;
  height: 50%;
  padding: 0% 25%;

}

.top-sidebar article button {
  margin: 0% 2% 5% 5%;
  padding: 2.5% 10%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}

.middle2-sidebar article button {
  margin: 0% 2% 5% 5%;
  padding: 2.5% 10%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.middle-sidebar article button {
  margin: 0% 2% 5% 5%;
  padding: 2.5% 10%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.mainFooter{
  width: 100%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #666;
  margin: 1% 0%;

}

.mainFooter p {
  width: 92%;
  margin: 2% auto;
  align:center;
  color: white;


}


@media only screen and (min-width: 150px)and (max-width: 600px){

  .body{
    width: 90%;
    font-size: 90%;
  }

  .mainheader img{
    width: 100%;
  }

  .mainheader nav{
    height: 240px;

  }

  .mainheader nav ul{
    padding-left: 0;
  }

  .mainheader nav ul li{
  width: 100%;
  text-align: center;
  }

  .mainheader nav a:link, .mainheader nav a:visited{
    padding: 10px 25px;
    height: 10px;
    display: block;
  }


  .maincontent{
    line-height: 30px;
  }

  .content{
    width: 100%;
    float: left;
    margin-top: 2%;
  }

  .topcontent{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-radius: 5px;
    overflow: hidden;
    background-color: white;
    padding: 3% 5%;
    margin: 1% 2% 2% 0%;
  }

  .bottomcontent{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-radius: 5px;
    overflow: hidden;
    background-color: white;
    padding: 3% 5%;
    margin: 1% 2% 2% 0%;
  }

  .post-info{
    none;
  }
  .top-sidebar{
    width: 95%;
    float: left;
    margin=left: 5%;
    margin-top: 0%;
    padding: 0% 1% 0% 2%;
    margin-bottom: 2%;


  }


  .middle-sidebar{
    width: 95%;
    float: left;
    margin=left: 5%;
    margin-top: 0%;
    padding: 0% 1% 0% 2%;
    margin-bottom: 2%;

  }


  .middle2-sidebar{
    width: 95%;
    float: left;
    margin=left: 5%;
    margin-top: 0%;
    padding: 0% 1% 0% 2%;
    margin-bottom: 2%;

  }


  .bottom-sidebar{
    width: 95%;
    float: left;
    margin=left: 5%;
    margin-top: 0%;
    padding: 0% 1% 0% 2%;
    margin-bottom: 2%;



  }




}
